In [1]:
import pandas as pd

In [2]:
weather = pd.read_csv('data/22년부터일일단위기상.csv', encoding='cp949',parse_dates=['일시'])
weather2025 = weather[weather['일시']>'2024-12-31']
weather2025.fillna(0)

       지점 지점명         일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)
1096  108  서울 2025-01-01       2.6       0.0         2.2        64.3
1097  108  서울 2025-01-02       0.5       0.0         2.1        48.8
1098  108  서울 2025-01-03      -1.1       0.0         2.2        52.0
1099  108  서울 2025-01-04      -0.1       0.0         1.7        49.6
1100  108  서울 2025-01-05       1.2       6.7         2.5        85.0
...   ...  ..        ...       ...       ...         ...         ...
1260  108  서울 2025-06-14      25.6       0.0         2.0        66.3
1261  108  서울 2025-06-15      26.3      11.8         2.5        69.6
1262  108  서울 2025-06-16      23.0      20.0         2.7        87.8
1263  108  서울 2025-06-17      24.8       0.0         2.5        73.3
1264  108  서울 2025-06-18      25.5       0.0         2.0        65.3

[169 rows x 7 columns]

In [3]:
df_1 = pd.read_csv(r"C:\Users\wjdwh\workspace\project\--PM----\model_1\2025데이터\LOCAL_PEOPLE_DONG_202501.csv",index_col=False)[['기준일ID','시간대구분','행정동코드','총생활인구수']]
df_1

           기준일ID  시간대구분     행정동코드      총생활인구수
0       20250101      0  11110515  13959.2812
1       20250101      0  11110530  14230.5596
2       20250101      0  11110540   3409.7726
3       20250101      0  11110550  12816.3213
4       20250101      0  11110560  18662.7186
...          ...    ...       ...         ...
315451  20250131     23  11620605  28736.7740
315452  20250131     23  11230536  35084.3923
315453  20250131     23  11740650  25768.3300
315454  20250131     23  11620645  24406.5161
315455  20250131     23  11410640  16015.3167

[315456 rows x 4 columns]

In [4]:
df_1 = df_1.groupby(['기준일ID','행정동코드'],as_index=False)['총생활인구수'].median()

In [5]:
def row_date(row) :
    row = row.copy()
    row['일시'] = (str(row['기준일ID'].astype('int'))[:4] + '-' + str(row['기준일ID'].astype('int'))[4:6] + '-' + str(row['기준일ID'].astype('int'))[6:])
    return row

In [6]:
row_date(df_1.iloc[0])

기준일ID      20250101.0
행정동코드      11110515.0
총생활인구수    14701.44235
일시         2025-01-01
Name: 0, dtype: object

In [7]:
df_1 = df_1.apply(row_date,axis=1)

In [8]:
df_1.drop('기준일ID',axis=1, inplace=True)

In [9]:
df_1['행정동코드']=df_1['행정동코드'].astype('int')

In [10]:
code = pd.read_excel('model_1/행정동코드_매핑정보_20241218.xlsx')
code = code[['행자부행정동코드','시군구명']]
code.drop(0,inplace=True)

In [11]:
code.columns=['행정동코드','행정구']

In [12]:
# code.info() # 행정동코드 object
# df_1.info() #  행정동코드 int32
code['행정동코드'] = code['행정동코드'].astype('int')
df_1 = df_1.merge(code,on=['행정동코드'],how='outer')

In [13]:
df_2 = pd.read_csv(r"C:\Users\wjdwh\workspace\project\--PM----\model_1\2025데이터\LOCAL_PEOPLE_DONG_202502.csv",index_col=False)[['기준일ID','시간대구분','행정동코드','총생활인구수']]

df_2 = df_2.groupby(['기준일ID','행정동코드'],as_index=False)['총생활인구수'].median()

df_2 = df_2.apply(row_date,axis=1)

df_2.drop('기준일ID',axis=1, inplace=True)

df_2['행정동코드']=df_2['행정동코드'].astype('int')
code['행정동코드'] = code['행정동코드'].astype('int')
df_2 = df_2.merge(code,on=['행정동코드'],how='outer')
df_2.isna().sum()

행정동코드     0
총생활인구수    0
일시        0
행정구       0
dtype: int64

In [14]:
df_3 = pd.read_csv(r"C:\Users\wjdwh\workspace\project\--PM----\model_1\2025데이터\LOCAL_PEOPLE_DONG_202503.csv",index_col=False)[['기준일ID','시간대구분','행정동코드','총생활인구수']]

df_3 = df_3.groupby(['기준일ID','행정동코드'],as_index=False)['총생활인구수'].median()

df_3 = df_3.apply(row_date,axis=1)

df_3.drop('기준일ID',axis=1, inplace=True)

df_3['행정동코드']=df_3['행정동코드'].astype('int')
code['행정동코드'] = code['행정동코드'].astype('int')
df_3 = df_3.merge(code,on=['행정동코드'],how='outer')
df_3.isna().sum()

행정동코드     0
총생활인구수    0
일시        0
행정구       0
dtype: int64

In [15]:
df_4 = pd.read_csv(r"C:\Users\wjdwh\workspace\project\--PM----\model_1\2025데이터\LOCAL_PEOPLE_DONG_202504.csv",index_col=False)[['기준일ID','시간대구분','행정동코드','총생활인구수']]

df_4 = df_4.groupby(['기준일ID','행정동코드'],as_index=False)['총생활인구수'].median()

df_4 = df_4.apply(row_date,axis=1)

df_4.drop('기준일ID',axis=1, inplace=True)

df_4['행정동코드']=df_4['행정동코드'].astype('int')
code['행정동코드'] = code['행정동코드'].astype('int')
df_4 = df_4.merge(code,on=['행정동코드'],how='outer')
df_4.isna().sum()

행정동코드     0
총생활인구수    0
일시        0
행정구       0
dtype: int64

In [16]:
df_5 = pd.read_csv(r"C:\Users\wjdwh\workspace\project\--PM----\model_1\2025데이터\LOCAL_PEOPLE_DONG_202505.csv",index_col=False)[['기준일ID','시간대구분','행정동코드','총생활인구수']]
df_5 = df_5.groupby(['기준일ID','행정동코드'],as_index=False)['총생활인구수'].median()

df_5 = df_5.apply(row_date,axis=1)

df_5.drop('기준일ID',axis=1, inplace=True)

df_5['행정동코드']=df_5['행정동코드'].astype('int')
code['행정동코드'] = code['행정동코드'].astype('int')
df_5 = df_5.merge(code,on=['행정동코드'],how='outer')
df_5.isna().sum()

행정동코드     0
총생활인구수    0
일시        0
행정구       0
dtype: int64

In [17]:
df_total = pd.concat([df_1,df_2,df_3,df_4,df_5])
df_total.drop('행정동코드',axis=1,inplace=True)
df_total['일시'] = df_total['일시'].astype('datetime64')
df_final = df_total.merge(weather2025.fillna(0), on='일시')
df_final.drop(['지점','지점명'],axis=1,inplace=True)

In [32]:
df_final

            총생활인구수         일시  행정구  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)
0      14701.44235 2025-01-01  종로구       2.6       0.0         2.2        64.3
1      16364.44020 2025-01-01  종로구       2.6       0.0         2.2        64.3
2       3812.02755 2025-01-01  종로구       2.6       0.0         2.2        64.3
3      12688.89705 2025-01-01  종로구       2.6       0.0         2.2        64.3
4      18804.69750 2025-01-01  종로구       2.6       0.0         2.2        64.3
...            ...        ...  ...       ...       ...         ...         ...
64019  25313.05820 2025-05-31  강동구      21.5       0.0         2.0        55.0
64020  28191.29605 2025-05-31  강동구      21.5       0.0         2.0        55.0
64021  61044.70035 2025-05-31  강동구      21.5       0.0         2.0        55.0
64022  28030.31865 2025-05-31  강동구      21.5       0.0         2.0        55.0
64023  25271.67330 2025-05-31  강동구      21.5       0.0         2.0        55.0

[64024 rows x 7 columns]

In [50]:
df_past = pd.read_csv('model_1/total_data.csv')[['일시','행정구','총대여량']]
# df_final.info() # 일시 datetime64[ns] 행정구 object  
# df_past.info() # 일시 object 행정구 object
df_past['일시'] = df_past['일시'].astype('datetime64')
df_past2 = df_past[df_past['일시']>'2023-12-31']
df_final['월'] = df_final['일시'].dt.month
df_final['일'] = df_final['일시'].dt.day
df_past2['월'] = df_past2['일시'].dt.month
df_past2['일'] = df_past2['일시'].dt.day
df_past2
df_check = df_final.merge(df_past2, on=['월','일','행정구'])
df_check.drop('일시_y',axis=1,inplace=True)

C:\Users\wjdwh\AppData\Local\Temp\ipykernel_18060\2781175573.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_past2['월'] = df_past2['일시'].dt.month
C:\Users\wjdwh\AppData\Local\Temp\ipykernel_18060\2781175573.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_past2['일'] = df_past2['일시'].dt.day

In [54]:
df_check.columns=['총생활인구수','일시','행정구','평균기온(°C)','일강수량(mm)','평균 풍속(m/s)','평균 상대습도(%)','월','일','총대여량']

In [64]:
df_check = df_check.groupby(['행정구','일시'],as_index=False).max()

In [65]:
df_past = pd.read_csv('model_1/total_data.csv')[['일시','행정구','자전거전용도로km']]
df_bike_road = df_past[df_past['일시']>'2023-12-31'].groupby(['행정구'],as_index=False).max()
df_bike_road.drop('일시',axis=1,inplace=True)
df_check_bike_road = df_check.merge(df_bike_road,on='행정구')
df_check_bike_road.to_csv('model_1/2025데이터/2025_데이터.csv',index=False)
df_past = pd.read_csv('model_1/total_data.csv')[['일시','행정구','총대여량']]

In [66]:
df_check_bike_road

,행정구,일시,총생활인구수,평균기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),월,일,총대여량,자전거전용도로km
0,강남구,2025-01-01,29265.972800,2.6,0.0,2.2,64.3,1.0,1.0,1319.0,114.0
1,강남구,2025-01-02,36479.044775,0.5,0.0,2.1,48.8,1.0,2.0,2694.0,114.0
2,강남구,2025-01-03,37822.823250,-1.1,0.0,2.2,52.0,1.0,3.0,2031.0,114.0
3,강남구,2025-01-04,33929.831450,-0.1,0.0,1.7,49.6,1.0,4.0,2795.0,114.0
4,강남구,2025-01-05,31064.586375,1.2,6.7,2.5,85.0,1.0,5.0,2972.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...
3770,중랑구,2025-05-27,17267.314350,20.8,0.0,1.9,57.0,5.0,27.0,5220.0,10.0
3771,중랑구,2025-05-28,17557.871775,20.8,0.0,1.8,62.0,5.0,28.0,5674.0,10.0
3772,중랑구,2025-05-29,17353.201350,21.2,0.0,2.2,58.4,5.0,29.0,5539.0,10.0
3773,중랑구,2025-05-30,17372.046375,22.2,0.0,1.7,55.0,5.0,30.0,5585.0,10.0
3774,중랑구,2025-05-31,18621.205875,21.5,0.0,2.0,55.0,5.0,31.0,5648.0,10.0

In [67]:
df_check

,행정구,일시,총생활인구수,평균기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),월,일,총대여량
0,강남구,2025-01-01,29265.972800,2.6,0.0,2.2,64.3,1.0,1.0,1319.0
1,강남구,2025-01-02,36479.044775,0.5,0.0,2.1,48.8,1.0,2.0,2694.0
2,강남구,2025-01-03,37822.823250,-1.1,0.0,2.2,52.0,1.0,3.0,2031.0
3,강남구,2025-01-04,33929.831450,-0.1,0.0,1.7,49.6,1.0,4.0,2795.0
4,강남구,2025-01-05,31064.586375,1.2,6.7,2.5,85.0,1.0,5.0,2972.0
...,...,...,...,...,...,...,...,...,...,...
3770,중랑구,2025-05-27,17267.314350,20.8,0.0,1.9,57.0,5.0,27.0,5220.0
3771,중랑구,2025-05-28,17557.871775,20.8,0.0,1.8,62.0,5.0,28.0,5674.0
3772,중랑구,2025-05-29,17353.201350,21.2,0.0,2.2,58.4,5.0,29.0,5539.0
3773,중랑구,2025-05-30,17372.046375,22.2,0.0,1.7,55.0,5.0,30.0,5585.0
3774,중랑구,2025-05-31,18621.205875,21.5,0.0,2.0,55.0,5.0,31.0,5648.0