In [72]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

# 1. 필요 데이터 로드

In [73]:
# 필요 라이브러리
import pandas as pd

# 2. 2022년 데이터

In [10]:
# 기상데이터
data_w = pd.read_csv('model_1/2022_행정구별기상.csv')
data_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          9125 non-null   object
 1   평균기온(°C)    9125 non-null   float64
 2   일강수량(mm)    9125 non-null   float64
 3   평균 풍속(m/s)  9125 non-null   float64
 4   평균 상대습도(%)  9125 non-null   float64
 5   행정구         9125 non-null   object
 6   연           9125 non-null   int64
 7   월           9125 non-null   int64
 8   일           9125 non-null   int64
 9   요일          9125 non-null   int64
 10  평일1주말0      9125 non-null   int64
dtypes: float64(4), int64(5), object(2)
memory usage: 784.3+ KB

In [9]:
# 대여량 체크 데이터
data_2022 = pd.read_csv('model_1/날짜붙이면2022년데이터완성.csv')
data_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   행정구        9125 non-null   object
 1   월          9125 non-null   int64
 2   일          9125 non-null   int64
 3   count      9125 non-null   int64
 4   총생활인구수     9125 non-null   float64
 5   남자어린이      9125 non-null   float64
 6   10대남자      9125 non-null   float64
 7   20대남자      9125 non-null   float64
 8   30대남자      9125 non-null   float64
 9   40대남자      9125 non-null   float64
 10  50대남자      9125 non-null   float64
 11  60대남자      9125 non-null   float64
 12  70대_이상_남자  9125 non-null   float64
 13  여자어린이      9125 non-null   float64
 14  10대여자      9125 non-null   float64
 15  20대여자      9125 non-null   float64
 16  30대여자      9125 non-null   float64
 17  40대여자      9125 non-null   float64
 18  50대여자      9125 non-null   float64
 19  60대여자      9125 non-null   float64
 20  70대_이상_여자  9125 non-null   float64
dtypes: float64(17), int64(3), object(1)
memory usage: 1.5+ MB

In [11]:
data_2022_final = data_2022.merge(data_w, on=['월','일','행정구'])
data_2022_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9125 entries, 0 to 9124
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구         9125 non-null   object
 1   월           9125 non-null   int64
 2   일           9125 non-null   int64
 3   count       9125 non-null   int64
 4   총생활인구수      9125 non-null   float64
 5   남자어린이       9125 non-null   float64
 6   10대남자       9125 non-null   float64
 7   20대남자       9125 non-null   float64
 8   30대남자       9125 non-null   float64
 9   40대남자       9125 non-null   float64
 10  50대남자       9125 non-null   float64
 11  60대남자       9125 non-null   float64
 12  70대_이상_남자   9125 non-null   float64
 13  여자어린이       9125 non-null   float64
 14  10대여자       9125 non-null   float64
 15  20대여자       9125 non-null   float64
 16  30대여자       9125 non-null   float64
 17  40대여자       9125 non-null   float64
 18  50대여자       9125 non-null   float64
 19  60대여자       9125 non-null   float64
 20  70대_이상_여자   9125 non-null   float64
 21  일시          9125 non-null   object
 22  평균기온(°C)    9125 non-null   float64
 23  일강수량(mm)    9125 non-null   float64
 24  평균 풍속(m/s)  9125 non-null   float64
 25  평균 상대습도(%)  9125 non-null   float64
 26  연           9125 non-null   int64
 27  요일          9125 non-null   int64
 28  평일1주말0      9125 non-null   int64
dtypes: float64(21), int64(6), object(2)
memory usage: 2.1+ MB

In [12]:
data_2022_final.columns

Index(['행정구', '월', '일', 'count', '총생활인구수', '남자어린이', '10대남자', '20대남자', '30대남자',
       '40대남자', '50대남자', '60대남자', '70대_이상_남자', '여자어린이', '10대여자', '20대여자',
       '30대여자', '40대여자', '50대여자', '60대여자', '70대_이상_여자', '일시', '평균기온(°C)',
       '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)', '연', '요일', '평일1주말0'],
      dtype='object')

In [13]:
data_2022_final['총대여량'] = data_2022_final['count']
data_2022_final.head(2)

,행정구,월,일,count,총생활인구수,남자어린이,10대남자,20대남자,30대남자,40대남자,...,70대_이상_여자,일시,평균기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),연,요일,평일1주말0,총대여량
0,강남구,1,1,670,630427.948100,23744.000096,40710.049317,40023.042229,50792.234688,59617.356479,...,33911.445246,2022-01-01,-4.3,0.0,1.5,46.3,2022,5,0,670
1,강남구,1,2,740,650216.729237,24423.091921,42242.376854,41144.087775,52772.705779,61443.767825,...,33982.121912,2022-01-02,-1.3,0.3,2.3,57.9,2022,6,0,740

In [17]:
data_2022_final = data_2022_final[[ '연','행정구', '월', '일','요일', '평일1주말0' ,'총생활인구수', '남자어린이', '10대남자', '20대남자', '30대남자',
       '40대남자', '50대남자', '60대남자', '70대_이상_남자', '여자어린이', '10대여자', '20대여자',
       '30대여자', '40대여자', '50대여자', '60대여자', '70대_이상_여자', '일시', '평균기온(°C)',
       '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)','총대여량']]

In [21]:
data_2022_final.to_csv('model_1/2022_data_final.csv',index=False)

# 3. 2023년 데이터

In [23]:
data_w = pd.read_csv('model_1/2023_행정구별기상.csv')
data_2023 = pd.read_csv('model_1/날짜붙이면2023년데이터완성.csv')
data_2023_final = data_2023.merge(data_w, on=['월','일','행정구'])
data_2023_final['총대여량'] = data_2023_final['count']
data_2023_final = data_2023_final[[ '연','행정구', '월', '일','요일', '평일1주말0' ,'총생활인구수', '남자어린이', '10대남자', '20대남자', '30대남자',
       '40대남자', '50대남자', '60대남자', '70대_이상_남자', '여자어린이', '10대여자', '20대여자',
       '30대여자', '40대여자', '50대여자', '60대여자', '70대_이상_여자', '일시', '평균기온(°C)',
       '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)','총대여량']]
data_2023_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9125 entries, 0 to 9124
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   연           9125 non-null   int64
 1   행정구         9125 non-null   object
 2   월           9125 non-null   int64
 3   일           9125 non-null   int64
 4   요일          9125 non-null   int64
 5   평일1주말0      9125 non-null   int64
 6   총생활인구수      9125 non-null   float64
 7   남자어린이       9125 non-null   float64
 8   10대남자       9125 non-null   float64
 9   20대남자       9125 non-null   float64
 10  30대남자       9125 non-null   float64
 11  40대남자       9125 non-null   float64
 12  50대남자       9125 non-null   float64
 13  60대남자       9125 non-null   float64
 14  70대_이상_남자   9125 non-null   float64
 15  여자어린이       9125 non-null   float64
 16  10대여자       9125 non-null   float64
 17  20대여자       9125 non-null   float64
 18  30대여자       9125 non-null   float64
 19  40대여자       9125 non-null   float64
 20  50대여자       9125 non-null   float64
 21  60대여자       9125 non-null   float64
 22  70대_이상_여자   9125 non-null   float64
 23  일시          9125 non-null   object
 24  평균기온(°C)    9125 non-null   float64
 25  일강수량(mm)    9125 non-null   float64
 26  평균 풍속(m/s)  9125 non-null   float64
 27  평균 상대습도(%)  9125 non-null   float64
 28  총대여량        9125 non-null   int64
dtypes: float64(21), int64(6), object(2)
memory usage: 2.1+ MB

In [24]:
data_2023_final.to_csv('model_1/2023_data_final.csv',index=False)

# 4. 2024년 데이터

In [40]:
data_w = pd.read_csv('model_1/2024_행정구별기상.csv')
data_2024 = pd.read_csv('model_1/날짜붙이면2024년데이터완성.csv')
data_2024.info()
# data_2024_final = data_2024.merge(data_w, on=['월','일','행정구'])
# data_2024_final['총대여량'] = data_2024_final['count']
# data_2024_final = data_2024_final[[ '연','행정구', '월', '일','요일', '평일1주말0' ,'총생활인구수', '남자어린이', '10대남자', '20대남자', '30대남자',
#        '40대남자', '50대남자', '60대남자', '70대_이상_남자', '여자어린이', '10대여자', '20대여자',
#        '30대여자', '40대여자', '50대여자', '60대여자', '70대_이상_여자', '일시', '평균기온(°C)',
#        '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)','총대여량']]
# data_2024_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9150 entries, 0 to 9149
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   행정구        9150 non-null   object
 1   월          9150 non-null   int64
 2   일          9150 non-null   int64
 3   count      9150 non-null   int64
 4   총생활인구수     9150 non-null   float64
 5   남자어린이      9150 non-null   float64
 6   10대남자      9150 non-null   float64
 7   20대남자      9150 non-null   float64
 8   30대남자      9150 non-null   float64
 9   40대남자      9150 non-null   float64
 10  50대남자      9150 non-null   float64
 11  60대남자      9150 non-null   float64
 12  70대_이상_남자  9150 non-null   float64
 13  여자어린이      9150 non-null   float64
 14  10대여자      9150 non-null   float64
 15  20대여자      9150 non-null   float64
 16  30대여자      9150 non-null   float64
 17  40대여자      9150 non-null   float64
 18  50대여자      9150 non-null   float64
 19  60대여자      9150 non-null   float64
 20  70대_이상_여자  9150 non-null   float64
dtypes: float64(17), int64(3), object(1)
memory usage: 1.5+ MB

In [44]:
for i in range(1,13) :
    if data_2024_final[data_2024_final['월']==i]['일'].count() != data_2023_final[data_2023_final['월']==i]['일'].count() :
        print(i)

2

In [53]:
# 2월 윤년으로 1일이 많아서 데이터의 차이가 발생 => 데이터 비중이 작아 drop
# data_2024_final[(data_2024_final['월']==2)&(data_2024_final['일']==29)]
data_2024_test = data_2024_final[~((data_2024_final['월'] == 2) & (data_2024_final['일'] == 29))]
data_2024_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9125 entries, 0 to 9149
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   연           9125 non-null   int64
 1   행정구         9125 non-null   object
 2   월           9125 non-null   int64
 3   일           9125 non-null   int64
 4   요일          9125 non-null   int64
 5   평일1주말0      9125 non-null   int64
 6   총생활인구수      9125 non-null   float64
 7   남자어린이       9125 non-null   float64
 8   10대남자       9125 non-null   float64
 9   20대남자       9125 non-null   float64
 10  30대남자       9125 non-null   float64
 11  40대남자       9125 non-null   float64
 12  50대남자       9125 non-null   float64
 13  60대남자       9125 non-null   float64
 14  70대_이상_남자   9125 non-null   float64
 15  여자어린이       9125 non-null   float64
 16  10대여자       9125 non-null   float64
 17  20대여자       9125 non-null   float64
 18  30대여자       9125 non-null   float64
 19  40대여자       9125 non-null   float64
 20  50대여자       9125 non-null   float64
 21  60대여자       9125 non-null   float64
 22  70대_이상_여자   9125 non-null   float64
 23  일시          9125 non-null   object
 24  평균기온(°C)    9125 non-null   float64
 25  일강수량(mm)    9125 non-null   float64
 26  평균 풍속(m/s)  9125 non-null   float64
 27  평균 상대습도(%)  9125 non-null   float64
 28  총대여량        9125 non-null   int64
dtypes: float64(21), int64(6), object(2)
memory usage: 2.1+ MB

In [54]:
data_2024_test.to_csv('model_1/2024_data_final.csv',index=False)

# 5. 데이터 통합

In [58]:
data_2023_final.columns == data_2022_final.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [59]:
data_2023_final.columns == data_2024_test.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [69]:
data_total = pd.concat([data_2022_final,data_2023_final,data_2024_test],axis=0)
data_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27375 entries, 0 to 9149
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   연           27375 non-null  int64
 1   행정구         27375 non-null  object
 2   월           27375 non-null  int64
 3   일           27375 non-null  int64
 4   요일          27375 non-null  int64
 5   평일1주말0      27375 non-null  int64
 6   총생활인구수      27375 non-null  float64
 7   남자어린이       27375 non-null  float64
 8   10대남자       27375 non-null  float64
 9   20대남자       27375 non-null  float64
 10  30대남자       27375 non-null  float64
 11  40대남자       27375 non-null  float64
 12  50대남자       27375 non-null  float64
 13  60대남자       27375 non-null  float64
 14  70대_이상_남자   27375 non-null  float64
 15  여자어린이       27375 non-null  float64
 16  10대여자       27375 non-null  float64
 17  20대여자       27375 non-null  float64
 18  30대여자       27375 non-null  float64
 19  40대여자       27375 non-null  float64
 20  50대여자       27375 non-null  float64
 21  60대여자       27375 non-null  float64
 22  70대_이상_여자   27375 non-null  float64
 23  일시          27375 non-null  object
 24  평균기온(°C)    27375 non-null  float64
 25  일강수량(mm)    27375 non-null  float64
 26  평균 풍속(m/s)  27375 non-null  float64
 27  평균 상대습도(%)  27375 non-null  float64
 28  총대여량        27375 non-null  int64
dtypes: float64(21), int64(6), object(2)
memory usage: 6.3+ MB

In [71]:
data_total['일시'] = pd.to_datetime(data_total['일시'])
df = data_total.sort_values(['행정구', '일시']).reset_index(drop=True)
df.to_csv('model_1/total_data.csv',index=False)

In [87]:
road = pd.read_csv('data/자전거도로+현황(2013년+이후)_20250621133428.csv')
road

    행정구     연  자전거전용도로수  자전거전용도로km
0   종로구  2022        43       32.1
1   종로구  2023        43       32.1
2   종로구  2024        44       32.0
3    중구  2022        21       22.4
4    중구  2023        21       22.4
..  ...   ...       ...        ...
70  송파구  2023       193       99.7
71  송파구  2024       225      116.7
72  강동구  2022        94       74.4
73  강동구  2023        99       76.6
74  강동구  2024        99       76.6

[75 rows x 4 columns]

In [91]:
road.isna().sum()

행정구          0
연            0
자전거전용도로수     0
자전거전용도로km    0
dtype: int64

In [88]:
df_test = df.merge(road, on=['행정구','연'])

In [92]:
df_test.to_csv('model_1/total_data.csv',index=False)